# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("ifrah",21,3>5,41.7,True)

ifrah 21 False 41.7 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("ifrah-shariq",50-15,4.5-4.9,True-False,sep="-")

ifrah-shariq-35--0.40000000000000036-1

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [4]:
# type your code here
print("ifra",end=' ')
print(100,end=' ')
print(True,end=' ')
print(33.455,end=' ')

ifra 100 True 33.455

4) Can a python print function take no value to print???

In [5]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [6]:
# type your code here
friends_name = "Mr Ahmed"
friends_age = 30
profession = "lawer"
qualification = "bachelors in law "
graduation_year =2005
firm_name = "The Himalya Associates"
firm_city ="karachi"
joining_year =2015
height_in_ft = 5.10
weight_in_grams = 70600
monthly_income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [7]:
#type your code here 
current_year = 2022
print(current_year-graduation_year)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [8]:
#type your code here 
print(current_year-joining_year)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [13]:
#type your code here 
income_dollars = monthly_income_pkr/ 208
income_dollars

961.5384615384615

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [11]:
#type your code here 
monthly_income =200000
current_rate_of_dollar =208.70
convert = monthly_income / current_rate_of_dollar
convert_Integer = int(convert)
print("Income in float" , convert)
print("Income in Integer" , convert_Integer)

Income in float 958.3133684714902
Income in Integer 958

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [15]:
#type your code here 
print(type(weight_in_grams))
weight_kg = weight_in_grams//1000
print(weight_kg)

<class 'int'>
70

11) print the year of birth of Mr. Ahmed.

In [18]:
#type your code here 
current_year = 2022
birth_year = current_year - friends_age
print(birth_year)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [19]:
#type your code here 
print(100%6==0)

False